/* hero section */
#hero-section {
  display: flex;
  height: 100vh;
}

/* left side */
#hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
}

#hero-text-content {
  margin-left: 6vw;
}

/* text */
#hero-text-content p:nth-of-type(1) {
  font-size: clamp(var(--font-size-m), 1.8vw, var(--font-size-l));
  font-weight: 500;
  color: var(--primary-font-color);
}
#hero-text h1 {
  font-size: clamp(var(--font-size-xl), 3vw, var(--font-size-xxxxl));

  font-weight: 700;
  color: var(--accent-color);
  margin: var(--margin-xl) 0;
  line-height: 1;
}

/* text animation */
#hero-text-content p:nth-of-type(2) {
  font-size: clamp(var(--font-size-l), 2vw, var(--font-size-xl));
  /* font-size: 2vw; */
  font-weight: 500;
  color: var(--primary-font-color);

  line-height: 0.8em !important;
  text-transform: none;
  font-weight: 600;
}

#hero-text-content p:nth-of-type(2) span {
  color: white;
  animation-delay: 2s;
  font-weight: 600;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/* buttons */
#hero-btns {
  display: flex;
  flex-wrap: wrap;
  /* gap: var(--margin-xxl); */
  column-gap: var(--margin-xxl);
  row-gap: var(--margin-xs);
  margin-top: 10vh;
  max-width: 90%;
}

.btn-basic {
  text-decoration: none;
  border-radius: 8px;
  padding: var(--padding-l);

  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;

  transition: all 0.3s ease;

  width: clamp(150px, 10vw, 200px);
}
#hero-btns a:active {
  transform: translateY(2px);
  scale: 0.98;
}

#hero-btns a:nth-of-type(1) {
  border: 1.5px solid var(--accent-color);
}
#hero-btns a:nth-of-type(2) {
  border: 1.5px solid var(--white-color);
}

#hero-btns a:nth-of-type(1):hover {
  transform: translateY(-5px);
  background-color: var(--accent-color);
}
#hero-btns a:nth-of-type(2):hover {
  transform: translateY(-5px);
  background-color: var(--white-color);
  color: var(--black-color);
}

/* right side */
#hero-img {
  flex: 1;
  /* background-color: aqua; */
}

#hero-img img {
}



/* Section 2 */
#section-aboutMe {
  height: 50vh;
  background-color: var(--primary-bg-color);

  display: grid;
  grid-template-columns: 50% 50%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

/* Img */
#aboutMe-img {
  display: flex;
  justify-content: right;
  margin-right: 10vw;
}

#section-aboutMe img {
  width: 10vw;
  padding: 0.2vw;

  border-left: 8px solid var(--primary-color);
  border-bottom: 8px solid var(--primary-color);

  /* border-radius: 1vw; */
  border-radius: 20px 0 20px 20px;
}

/* headline */
#aboutMe-infos h1 {
  display: inline-block;
  font-size: clamp(var(--font-size-l), 2vw, var(--font-size-xl));
  font-weight: 700;
  /* color: var(--accent-color); */
  margin-bottom: var(--margin-xxl);
  padding-bottom: var(--padding-m);

  border-bottom: 3px solid var(--accent-color);
}

/* infos */
#aboutMe-infos {
  width: clamp(300px, 30vw, 500px);
  padding: 0 var(--padding-m);
}

#infos-text{
  color: var(--primary-font-color);
  margin: var(--margin-m) 0;
  line-height: 1.3;
}

#infos-text{
  font-size: var(--font-size-sm);
  margin: var(--margin-l) 0 ;
}



/* Button */
#aboutMe-btn{
  color: var(--primary-font-color); 
  border: white 1.5px solid;

  margin-top: var(--margin-xxl);
  width: clamp(150px, 15vw, 300px);
}

#aboutMe-btn:hover {
  cursor: pointer;
  background-color: var(--black-color);
  color: var(--black-color);
}

#aboutMe-btn:hover {
  transform: translateY(-5px);
  background-color: var(--white-color);
  color: var(--black-color);
}

#aboutMe-btn:hover p{
  color: var(--black-color);
}