/* hero section */
#hero-section {
  display: flex;
  height: 100vh;
}

/* left side */
#hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
}

#hero-text-content {
  margin-left: 6vw;
}

/* text */
#hero-text-content p:nth-of-type(1) {
  font-size: clamp(var(--font-size-m), 1.5vw, var(--font-size-l));
  font-weight: 500;
  color: var(--primary-font-color);
}
#hero-text h1 {
  font-size: clamp(var(--font-size-xl), 3vw, var(--font-size-xxxxl));

  font-weight: 700;
  color: var(--accent-color);
  margin: var(--margin-xl) 0;
  line-height: 1;
}

/* text animation */
#hero-text-content p:nth-of-type(2) {
    font-size: clamp(var(--font-size-l), 2vw, var(--font-size-xl));
    /* font-size: 2vw; */
    font-weight: 500;
    color: var(--primary-font-color);

  line-height: 0.8em !important;
  text-transform: none;
  font-weight: 600;
}

#hero-text-content p:nth-of-type(2) span {
  color: white;
  animation-delay: 2s;
  font-weight: 600;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
#hero-text-content p:nth-of-type(2) {
}




/* buttons */
#hero-btns {
  display: flex;
  flex-wrap: wrap;
  /* gap: var(--margin-xxl); */
  column-gap: var(--margin-xxl);
  row-gap: var(--margin-xs);
  margin-top: 10vh;
  max-width: 90%;
}

.btn-basic {
  text-decoration: none;
  border-radius: 8px;
  padding: var(--padding-l);

  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  min-width: 8vw;
  text-align: center;
}
#hero-btns a:nth-of-type(1) {
  border: 1.5px solid var(--accent-color);
}
#hero-btns a:nth-of-type(2) {
  border: 1.5px solid var(--white-color);
}

#hero-btns a:nth-of-type(1):hover {
  transform: translateY(-5px);
  background-color: var(--accent-color);
}
#hero-btns a:nth-of-type(2):hover {
  transform: translateY(-5px);
  background-color: var(--white-color);
  color: var(--black-color);
}

/* right side */
#hero-img {
  flex: 1;
  background-color: aqua;
}

#hero-img img {
}
